.swal2-footer{
    border: 0px !important;
    padding: 0em 0 0 !important;
}

select, input[type="date"],
input::placeholder, p, .form-control, 
button, small, .register label{
    font-weight: 100 !important;
}

input::placeholder{
    color: #c2c2c2 !important
}

.register input[type='text'], .register select,
.register input[type='date'], .register input[type="password"]{
    margin-top: -5px !important;
}

select ~ option:nth-child(1){
    color: #c2b3b3 !important
}
select{
    color: #575757 !important
}

.text-confirm{
    position: relative !important;
    top: -0.1rem !important;
}

input[type="checkbox"]{
    border-color: #b4b4b4 !important;
}

a{
    text-decoration: none !important;
}

.text-province, .text-content-heading, 
.text-slsu, .text-p-info, .text-dev, 
.text-footer, .text-ccsit{
    transition: all 0.1s ease !important;
    font-weight: 400 !important;
}

@media (max-width: 425px)
{
    .text-dev, .text-footer{
        font-size: 15px !important;
    }
}

@media (max-width: 375px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 21px !important;
    }

    .text-ccsit{
        font-size: 19px !important;
    }

    .text-dev, .text-footer{
        font-size: 16px !important;
    }
}

@media (max-width: 320px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 18px !important;
    }

    .text-ccsit{
        font-size: 15px !important;
    }

    .text-dev, .text-footer{
        font-size: 14px !important;
    }
}

@media (max-width: 319px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 16px !important;
    }

    .text-ccsit{
        font-size: 14px !important;
    }

    .text-dev, .text-footer{
        font-size: 13px !important;
    }

    
}