.swal2-footer{
    border: 0px !important;
    padding: 0em 0 0 !important;
}

select, input[type="date"],
input::placeholder, p, .form-control, 
button, small, .register label,
.basic-info, a.btn{
    font-weight: 100 !important;
}

.register .pre-reg label{
    font-weight: 400 !important;
}

input::placeholder{
    color: #999999 !important
}

.register input[type='text'], .register select,
.register input[type='date'], .register input[type="password"],
.register input[type="number"]{
    margin-top: -5px !important;
}

/* select ~ option:nth-child(1){
    color: #808080 !important
} */
select{
    color: #575757 !important
}

.text-confirm{
    position: relative !important;
    top: -0.1rem !important;
}

input[type="checkbox"]{
    border-color: #b4b4b4 !important;
    cursor: pointer !important;
}

a{
    text-decoration: none !important;
}

.text-province, .text-content-heading, 
.text-slsu, .text-p-info, .text-dev, 
.text-footer, .text-ccsit, .text-heading{
    transition: all 0.1s ease !important;
    font-weight: 400 !important;
}

.text-p-info, .text-secondary, .text-muted{
    color: rgb(75, 75, 75) !important;
}

.btn.btn-sm{
    height: 25px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    color: #fff !important;
}

.btn-complete{
    height: 25px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    box-shadow: none !important;
    cursor: text !important;
}

.btn-scan{
    padding-bottom: 2px !important;
}

.qr_image, .canvas-wrapper{
    position: relative !important;
    top: -1rem !important;
}

.qr_image{
    cursor: pointer !important;
}

#text-stop-scan{
    position: relative !important;
    top: -0.6rem !important;
}

.text-click-img{
    position: relative !important;
    top: -1rem !important;
}

@media (max-width: 425px)
{
    .text-dev, .text-footer{
        font-size: 15px !important;
    }
}

@media (max-width: 375px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 21px !important;
    }

    .text-ccsit{
        font-size: 19px !important;
    }

    .text-dev, .text-footer{
        font-size: 16px !important;
    }
}

@media (max-width: 320px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 18px !important;
    }

    .text-ccsit{
        font-size: 15px !important;
    }

    .text-dev, .text-footer{
        font-size: 14px !important;
    }
}

@media (max-width: 319px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 16px !important;
    }

    .text-ccsit{
        font-size: 14px !important;
    }

    .text-dev, .text-footer{
        font-size: 13px !important;
    }
}

#toggle{
    position: relative;
    width: 35px;
    height: 19px;
    border-radius: calc(19px/2);
    -webkit-appearance: none;
    top: 3px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(#c6c6c6, #e3e3e3);
    outline: none !important;
    cursor: pointer;
    padding-right: 35px !important;
    padding-bottom: 1px !important;
}

#toggle:checked{
    background: -webkit-linear-gradient(#bfe09c, #c8eca0);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#toggle::before{
    content: "|||";
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 7px;
    font-weight: 300;
    text-shadow: 1px 1px 1px white;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 5px;
    position: absolute;
    padding-top: 1px;
    padding-left: 4px;
    border-radius: calc(15px/2);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    background: -webkit-linear-gradient(#ebebeb, #f1f1f1);
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.3), inset 1px 1px 1px #ffffff;
}

#toggle:checked:before{
    left: 16px;
    background: #f1f1f1;
}

#toggle:after{
    content: "";
    width: 8px;
    height: 8px;
    top: 5px;
    right: -17px;
    position: absolute;
    border-radius: 4px;
    background: -webkit-linear-gradient(#fcc4c5, #FF7676);
    box-shadow: inset -1px -1px 4px #be3939, inset 1px 1px 2px #d84646;
}

#toggle:checked:after{
    background: -webkit-linear-gradient(#d8eec4, #5fa718);
    box-shadow: inset -1px -1px 4px #417f0b, inset 1px 1px 2px #5b9f1a;
}

.reports table tr td{
    font-size: 11px !important;
}

.dropdown-menu a:active{
    color: #fff !important;
}

.img-wrapper{
    height: 8rem !important;
    width: 8rem !important;
    overflow: hidden !important;
    border-radius: calc(8rem/2) !important;
}

.img-wrapper img{
    margin: auto;
    /* margin-right: auto; */
    width: 100% !important;
}

.form-control[readonly]{
    background-color: #fff !important;
}

.register .pre-reg .form-control{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #b3b3b3 !important;
}

.register .pre-reg .form-control:focus{
    box-shadow: none !important;
    /* background-color: #fff !important; */
}

/* Change autocomplete styles in WebKit */
.register .pre-reg input:-webkit-autofill,
.register .pre-reg input:-webkit-autofill:hover, 
.register .pre-reg input:-webkit-autofill:focus,
.register .pre-reg textarea:-webkit-autofill,
.register .pre-reg textarea:-webkit-autofill:hover,
.register .pre-reg textarea:-webkit-autofill:focus,
.register .pre-reg select:-webkit-autofill,
.register .pre-reg select:-webkit-autofill:hover,
.register .pre-reg select:-webkit-autofill:focus {
    -webkit-text-fill-color: #333 !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    /* box-shadow: 0 0 0px 1000px #fff inset; */
    transition: background-color 5000s ease-in-out 0s;
}

.error{
    font-size: 8em !important;
    letter-spacing: 0.9rem !important;
    font-weight: bolder !important;
    color: #7c7c7c !important;
    text-shadow: 0 0 10px #f8aaaa !important;
}

.error-msg{
    color: #e06868 !important;
}

.body-msg, .error-msg{
    font-weight: 400 !important;
}

.body-msg, .error-msg{
    letter-spacing: 0.1rem !important;
}

.error, .error-msg, .body-msg{
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px)
{
    .error{
        font-size: 6em !important;
    }

    .error-msg{
        font-size: 1em !important;
    }

    .body-msg{
        font-size: 1.1em !important;
    }
}

@media screen and (max-width: 320px)
{
    .error{
        font-size: 5em !important;
    }

    .error-msg{
        font-size: 0.75em !important;
    }

    .body-msg{
        font-size: 0.9em !important;
    }
}

/* @import url('https://fonts.googleapis.com/css?family=Righteous'); */

.Wrapper{
    width:540px;
    height:200px;
    display:none;
    margin:4% auto 0;
    max-width:100%;
    max-height:100%;
    position:relative;
    overflow:hidden;
    background-color: black !important;
    color:#f52a2a; 
}

.error-500-msg{
    color:#f52a2a !important; 
    font-weight: 400;
}

.wrapper-container{
    background-color: black;
}

#five{
    z-index: 10;
    position: absolute;
}

.left{
    z-index: 1;
    width: 550px;
    height: 200px;
    position: absolute;
    overflow:hidden;
}

.right{
    z-index: 1;
    width: 550px;
    height: 200px;
    position: absolute;
    overflow:hidden;
    left:80%;
}


._500 h1{
    color:#fff; 
    background: #f52a2a;
    padding: 10px;
    border-radius:50px;
    width:150px;
    margin:30px auto 10px;
    text-align:center;
    font-size:1em;
    /* font-family: 'Righteous', sans-serif; */
    display:none;
}

._500 p{
    color:#fff; 
    margin:0px auto;
    text-align:center;
    /* font-family: 'Righteous', sans-serif; */
    display:none;
}

.__error .image img{
    width: 100% !important;
}