.swal2-footer{
    border: 0px !important;
    padding: 0em 0 0 !important;
}

select, input[type="date"],
input::placeholder, p, .form-control, 
button, small, .register label, 
.basic-info, a.btn{
    font-weight: 100 !important;
}

input::placeholder{
    color: #c2c2c2 !important
}

.register input[type='text'], .register select,
.register input[type='date'], .register input[type="password"]{
    margin-top: -5px !important;
}

select ~ option:nth-child(1){
    color: #808080 !important
}
select{
    color: #575757 !important
}

.text-confirm{
    position: relative !important;
    top: -0.1rem !important;
}

input[type="checkbox"]{
    border-color: #b4b4b4 !important;
    cursor: pointer !important;
}

a{
    text-decoration: none !important;
}

.text-province, .text-content-heading, 
.text-slsu, .text-p-info, .text-dev, 
.text-footer, .text-ccsit, .text-heading{
    transition: all 0.1s ease !important;
    font-weight: 400 !important;
}

.text-p-info, .text-secondary, .text-muted{
    color: rgb(75, 75, 75) !important;
}

.btn.btn-sm{
    height: 25px !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    color: #fff !important;
}

.btn-scan{
    padding-bottom: 2px !important;
}

.qr_image, .canvas-wrapper{
    position: relative !important;
    top: -1rem !important;
}

.qr_image{
    cursor: pointer !important;
}

#text-stop-scan{
    position: relative !important;
    top: -0.6rem !important;
}

.text-click-img{
    position: relative !important;
    top: -1rem !important;
}

@media (max-width: 425px)
{
    .text-dev, .text-footer{
        font-size: 15px !important;
    }
}

@media (max-width: 375px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 21px !important;
    }

    .text-ccsit{
        font-size: 19px !important;
    }

    .text-dev, .text-footer{
        font-size: 16px !important;
    }
}

@media (max-width: 320px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 18px !important;
    }

    .text-ccsit{
        font-size: 15px !important;
    }

    .text-dev, .text-footer{
        font-size: 14px !important;
    }
}

@media (max-width: 319px)
{
    .text-province, .text-content-heading, 
    .text-slsu, .text-p-info{
        font-size: 16px !important;
    }

    .text-ccsit{
        font-size: 14px !important;
    }

    .text-dev, .text-footer{
        font-size: 13px !important;
    }
}

#toggle{
    position: relative;
    width: 35px;
    height: 19px;
    border-radius: calc(19px/2);
    -webkit-appearance: none;
    top: 3px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(#c6c6c6, #e3e3e3);
    outline: none !important;
    cursor: pointer;
    padding-right: 35px !important;
    padding-bottom: 1px !important;
}

#toggle:checked{
    background: -webkit-linear-gradient(#bfe09c, #c8eca0);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#toggle::before{
    content: "|||";
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 7px;
    font-weight: 300;
    text-shadow: 1px 1px 1px white;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 5px;
    position: absolute;
    padding-top: 1px;
    padding-left: 4px;
    border-radius: calc(15px/2);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    background: -webkit-linear-gradient(#ebebeb, #f1f1f1);
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.3), inset 1px 1px 1px #ffffff;
}

#toggle:checked:before{
    left: 16px;
    background: #f1f1f1;
}

#toggle:after{
    content: "";
    width: 8px;
    height: 8px;
    top: 5px;
    right: -17px;
    position: absolute;
    border-radius: 4px;
    background: -webkit-linear-gradient(#fcc4c5, #FF7676);
    box-shadow: inset -1px -1px 4px #be3939, inset 1px 1px 2px #d84646;
}

#toggle:checked:after{
    background: -webkit-linear-gradient(#d8eec4, #5fa718);
    box-shadow: inset -1px -1px 4px #417f0b, inset 1px 1px 2px #5b9f1a;
}